<!-- <p> Helloo !!!</p>
<app-likes [isLiked]="isLiked" [likesCount]="likesCount" (likeOutput)="likeClicked($event)" ></app-likes>
<app-server></app-server> -->
<!-- <app-facebook-like [isLiked]="isLiked" [likesCount]="likesCount" (likeOutput)="likeClicked($event)" ></app-facebook-like> -->
<!-- <app-server></app-server> -->
<!-- <app-course></app-course> -->
<!-- <app-discount></app-discount> -->
<!-- <app-panel>
    <ng-container class="heading" ><h2>Panel Heading</h2></ng-container>
    <ng-container class="body" >Panel Content Body goes here..Adding content</ng-container>
</app-panel> -->
<!-- <app-server></app-server> -->

<!-- <app-register></app-register> -->

<!-- <app-signup></app-signup> -->

<!-- <app-posts></app-posts> -->
 
<!-- Enter the Name : <input type="text" name="name" [(ngModel)]="name" />

<app-lifecycle [name]="name"></app-lifecycle> -->

<!-- <app-student></app-student> -->

<!-- <app-navbar></app-navbar>
<router-outlet></router-outlet> -->

<!-- <app-todo></app-todo> -->

<!-- <app-instalike [isLiked]="isLiked" [likesCount]="likesCount"  (likesClicked)="likeClicked($event)"></app-instalike> -->

<app-trainee></app-trainee>